.bg-faded{
    background-color: transparent!important;
}
.navbar{
    position: absolute!important;
    width: 100%;
 }
.text-center{
    text-align: center;
}
.row{
    margin: 5px!important;
}
.jumbotron{
    padding-top: 13rem!important;
}
.poptop{
    z-index:1000;
}
