
<header class="bgImage">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded poptop">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Bit Studio.</a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/homepage']">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pointer" data-toggle="modal" data-target="#LogoutModal">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" [routerLink]="['/homepage']">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-14 text-center">
                <div class="jumbotron jumbotron-fluid bg-faded">
                    <div class="display-tc animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                        <h1 class="display-3">We are Bit Studio</h1>
                        <button type="button" class="btn btn-outline-success btn-lg">Join Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about" class="bg-one">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
                <div class="wrap-about">
                    <div class="icon-box">
                        <i class="fa fa-lightbulb-o fa-4x"></i>
                    </div>
                    <div class="about-content text-center">
                        <h3 class="ddd">We're Creative</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="wrap-about">
                    <div class="icon-box">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="about-content text-center">
                        <h3>We're Professional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="wrap-about kill-margin-bottom">
                    <div class="icon-box">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="about-content text-center">
                        <h3>We're Professional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="LogoutModalLabel" aria-hidden="true" #LoginModal>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LogoutModalLabel">Logout</h5>
      </div>
      <div class="modal-body">
        Are you sure to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="logout()" >Logout</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

