<div class="forumBgImage">
    <navbar></navbar>
    <div class="container forumContainer">
        <div class="row">
            <ckeditor
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#99000'}"
                    (change)="onChange($event)"
                    (ready)="onReady($event)"
                    (focus)="onFocus($event)"
                    (blur)="onBlur($event)"
                    debounce="500">
            </ckeditor>
        </div>
    </div>
</div>
