html,body{
  height: 100%;
}
.login{
  height: 100%;
  width: 100%;
  background-size: 100%;
  /*background-image: url("../../../resource/image/login/1200x747.jpg");*/
}
.loginBtn{
  position: relative;
  width: 200px;
  height: 50px;
  opacity:0.5;
  filter:alpha(opacity=50);
}
.row{
  height : 100%
}
.container{
  height : 100%
}
.loginBtn:hover{
  opacity:0.85;
  filter:alpha(opacity=85);
}
.modal-dialog{
  top: 20%;
}
@media screen and ( max-width: 640px ) {
  .login {
    background-image: url("../../../resource/image/login/640x1136.jpg");
  }
}
@media screen and ( max-width: 750px ) {
  .login {
    background-image: url("../../../resource/image/login/750x1334.jpg");
  }
}
@media screen and ( max-width: 1200px ) {
  .login {
    background-image: url("../../../resource/image/login/1200x747.jpg");
  }
}
